/******************************************************************
Site Name: La Verda Luno
Author: MasuqaT

Stylesheet: Specific decorations for La Verda Luno

******************************************************************/

// Gorgeous Blockquote
blockquote.gorgeous {
	background: $mono-frosty;

	&:before {
		display: none;
	}

	&:after {
		content: "\f10e";
		font-family: $icon-font;
		position: absolute;
		right: 0.25em;
		top: -0.125em;
		color: $mono-smoke;
		font-size: ($font-size * 4);
	}

	header {
		padding: 0;
		border: none;
		margin-bottom: 1em;

		h1 {
			margin: 0;
			display: inline-block;
			font-size: 2em;
			font-weight: bold;

			&:before {
				content: "\f0a4";
				font-family: $icon-font;
				font-size: 0.75em;
				position: relative;
				bottom: 2px;
				margin-right: $padding-size;

			}
		}

		p {
			display: inline-block;
			font-size: $font-size;
			position: relative;
			top: 0.25em;
		}
	}

	div {
		p {
			
		}
	}

	footer {
		padding: 0;
		border: none;
		margin-top: 1em;
		text-align: right;

		&:before{
			content: "";
			height: 1px;
			background-color: $text-color;
			display: inline-block;
			width: 3.5em;
			position: relative;
			bottom: 5px;
			margin-right: 2px;
		}
	}
}

// References List
section.references {
	margin-bottom: $font-size;

	h1 {
		font-size: 2em;
		font-weight: bold;
		margin: 0.75em 0 0.5em 0;
		color: $sub-dark;
	}

	ul {
		margin-left: $padding-size;

		li:before {
			content: "\f00c";
			font-family: $icon-font;
		}
	}
}

// Mumble Span
span.mumble {
	font-size: ($font-size - 3);
	color: $mono-silver;

	.format-status & {
		color: $mono-gray;
	}
}

// Old Information Caution
section.oldinfo {
	margin-bottom: $font-size;
	background-color: $mono-smoke;
	border: $padding-size solid $accent-normal;
	padding: 0 ($padding-size * 3);
	overflow: hidden;

	h1 {
		font-size: 2em;
		font-weight: bold;
		margin: 0.75em 0 0.5em 0;
		color: $sub-dark;
	}
}

// Advent Calender Navigation
nav.advent-calender {
	background-color: $sub-light;
	overflow: hidden;
	padding: ($padding-size * 2) ($padding-size * 3);
	margin-bottom: $font-size;
	border: $padding-size solid $sub-dark;

	header {
		padding: 0;
		margin-bottom: $padding-size;
		border: none;
		text-align: center;
		font-size: ($font-size + 1);
		
		span {
			margin-left: $font-size;
		}
	}

	div.prev {
		float: left;

		&:before {
			content: "\f190";
			font-family: $icon-font;
			margin-right: $padding-size;
		}

		span {
			&:after {
				content: ":";
				margin-right: $padding-size;
			}
		}
	}

	div.next {
		float: right;

		span {
			&:after {
				content: ":";
				margin-right: $padding-size;
			}
		}

		&:after {
			content: "\f18e";
			font-family: $icon-font;
			margin-left: $padding-size;
		}
	}
}

// Series Navigation
nav.series {
	background-color: $sub-light;
	overflow: hidden;
	padding: ($padding-size * 2) ($padding-size * 3);
	margin-bottom: $font-size;
	border: $padding-size solid $sub-dark;

	header {
		padding: 0;
		margin-bottom: $padding-size;
		border: none;
		text-align: center;
		font-size: ($font-size + 1);
		
		span {
			margin-left: $font-size;
		}
	}

	div.prev {
		float: left;

		a:before {
			content: "\f0d9";
			font-family: $icon-font;
			margin-right: $padding-size;
		}
	}

	div.next {
		float: right;

		a:after {
			content: "\f0da";
			font-family: $icon-font;
			margin-left: $padding-size;
		}
	}
}