/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: $font-size;
	line-height: 1.5;
	color: $text_c;
	background-color: $main;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-c;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover_c;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.site-top {
	background-color: $top_bg;

	& > div.wrap {
		position: relative;
	}
}

	.site-menu {
		font-family: $ui-font;
		position: relative;
		z-index: 99;
	}
	.menu-toggle {
		display: none;
		width: 60px;
		height: 50px;
		float: right;
		cursor: pointer;
		color: $top-active_c;
		text-align: center;
	}
	.menu-toggle:hover,
	.menu-toggle.active {
		color: $top-active_c;
		background: $top-active_bg;
		}
	.menu-toggle i {
		padding: 10px 0;
		font-size: 28px;
	}
	.menu-text {
		display: none;
		float: right;
		padding: 13px 20px;
		font-size: $font-size;
		line-height: 1.5em;
	}
	.menu-bar ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.menu-bar ul li {
		position: relative;
		}
	.menu-bar ul li a {
		display: block;
		padding: 0 20px;
		color: $top_c;
		font-size: $font-size;
		text-decoration: none;
		line-height: 50px;
		-webkit-transition: color .1s linear, background-color .1s linear;
		-moz-transition: color .1s linear, background-color .1s linear;
			-ms-transition: color .1s linear, background-color .1s linear;
			-o-transition: color .1s linear, background-color .1s linear;
				transition: color .1s linear, background-color .1s linear;
		
		&:hover {
			text-decoration: none;
		}
	}
	.menu-bar ul ul li a {
		padding: 8px 20px;
		font-size: 90%;
		line-height: 20px;
	}
	.menu-bar ul li a:after {
		font-family: 'FontAwesome';
	}
	.menu-bar ul li a:after {
		content: "\f0d7";
		float: none;
		margin-left: 6px;
		opacity: 0.5;
	}
	.menu-bar ul ul li a:after {
		content: "\f0da";
		float: right;
		margin-left: 0;
	}
	.menu-bar ul li a:only-child:after {
		content: "";
		margin: 0;
	}

	.menu-toggle,
	.menu-bar ul li a {
		color: $top_c;
	}
	.menu-bar ul li > a:hover, 
	.menu-bar ul li:hover > a, 
	.menu-bar ul li.current_page_item > a, 
	.menu-bar ul li.current-menu-item > a,
	.menu-bar ul li.current-menu-ancestor > a,
	.menu-bar ul li.current_page_ancestor > a,
	.menu-bar ul li.current-post-parent > a {
		color: $top-active_c;
	}

// top-bar search
.site-search {}

	.search-toggle {
		position: absolute;
		top: 0;
		right: 15px;
		display: block;
		padding: 0 20px;
		cursor: pointer;
		color: $top_c;
		font-size: 18px;
		text-decoration: none;
		line-height: 50px;
		background: $top-button_bg;
		z-index: 999;
	}
	.search-toggle:hover,
	.search-toggle.active {
		background: $top-active_bg;
	}
	.search-expand {
		position: absolute;
		top: 50px;
		right: 15px;
		width: 330px;
		display: none;
		background: $top-bg;
		z-index: 999;
		-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .01);
		-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .01);
				box-shadow: 0 1px 0 rgba(255, 255, 255, .01);
	}
	.search-expand-inner {
		padding: 15px;
		background: $top-active_bg;
	}
	.site-search .search-form .search-submit {
	}
	.site-search .search-form .search-submit:hover,
	.site-search .search-form .search-submit:focus {
	}

	.search-form {
		padding-right: 53px;
		position: relative;
	}
	.search-form .form-group {
		margin: 0;
	}
	.search-form .form-submit {
		top: 0;
		right: 0;
		position: absolute;
	}
	.search-form .fa-search {
		font-size: 18px;
		line-height: 1;
	}

.header {
	background-color: $header_bg;
}

	#logo {
		margin: 0 0;
		font-family: $logo-font;
		font-size: 72px;

		a {
			color: $logo_c;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	// border-bottom: 0;
	// margin: 0;

	li {

		a {
			// display: block;
			// color: $white;
			// text-decoration: none;
			// padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					// padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

.entry-meta {
	font-family: $ui-font;
	font-size: 80%;
	color: $article-meta_c;

	a {
		color: $article-meta_c;
		text-decoration: none;

		&:hover {
			color: $article-meta-active_c;
		}
	}

	.fa {
		margin-right: 0.5em;
	}

	span {
		margin-right: 1.5em;
	}
}

#content {
	margin-top: 1.5em;
}

		.hentry {
			padding: 2.5em $padding-size;
			border-bottom: 2px solid $border_c;

			header {}

			footer {
				p {
					margin: 0;
				}
			}

			&:first-of-type {
				margin: -1em 0 0 0;
			}

			&:first-child {			// when on index, single etc...
				margin: -2.0em 0 0 0;
			}

			&:last-of-type {
				border-bottom: none;
				padding-bottom: 0;
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title,
		.archive-title {
			font-weight: bold;
			margin: 0;
		}

		.single-title {
			color: $article-title_c;
		}

		.page-title {
			margin: 0 ($padding-size * 3);
			color: $list-title_c;
		}

		.entry-title {
			a {
				color: $article-title_c;
			}
		}

		.archive-title {
			margin: 0 ($padding-size * 3);
			color: $list-title_c;
		}

		.taxonomy-description {
			margin: 0px ($padding-size * 4);

			p {
				margin: 0;
			}
		}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: $font-size $padding-size; 

			span[id|="more"] {
				display: block;
				margin: 1em 0em;
				border-top: 2px dotted $border_c;
			}

			p {
				margin: 0 0 $font-size 0;
			}

			em {
				font-style: normal;
				background-color: $main2;
			}

			strong {
				font-weight: bold;
			}
			
			a {
				color: $link_c;
				text-decoration: none;

				&:hover {
					color: $link-hover_c;
				}
			}

			h1, h2, h3, h4, h5, h6 {
				font-weight: normal;
				margin: 1.25em 0 0.75em 0;
				text-transform: none;
				letter-spacing: normal;
				line-height: 1em;
			}

			/* f(x)=ae^bx, f(0)=40px, f(7)=16px */
			h1 {
				font-size: 35px;
			}

			h2 {
				font-size: 31px;
			}

			h3 {
				font-size: 27px;
			}

			h4 {
				font-size: 24px;
			}

			h5 {
				font-size: 21px;
			}

			h6 {
				font-size: 18px;
			}

			ul, ol, table, dl {}

			ul, ol, dl {
				margin: 0 0 $font-size 0;

				li, dd {
					ul, ol, dl {
						margin: 0 0 0 1em;

						dt {
							font-size: ($font-size - 1);
						}

						li, dd {
							font-size: ($font-size - 1);

							ul, ol, dl {
								margin: 0 0 0 1em;

								dt {
									font-size: ($font-size - 2);
								}

								li, dd {
									font-size: ($font-size - 2);

									
								}
							}
						}
					}
				}

			}

			ul {
				// 「その他記号と矢印」 U+2B00
				// list-style: "⬥" outside;

				& > li {
					list-style-position: outside;
					text-indent: -0.75em;
					margin-left: 1.5em;

					&:not(:first-of-type) {
						margin-top: 0.5em;
					}
					
					&:before {
						content: "\2b25";
						display: inline-block;
						width: 0.75em;
					}

					ul {
						// list-style: "⬦" outside;

						& > li {
							list-style-position: outside;
							text-indent: -0.75em;
							margin-left: 1.5em;

							&:not(:first-of-type) {
								margin-top: 0.5em;
							}
							
							&:before {
								content: "\2b26";
								display: inline-block;
								width: 0.75em;
							}

							ul {
								// list-style: "⬦" outside;

								& > li {
									list-style-position: outside;
									text-indent: -0.75em;
									margin-left: 1.5em;

									&:not(:first-of-type) {
										margin-top: 0.5em;
									}
									
									&:before {
										content: "\2b2a";
										display: inline-block;
										width: 0.75em;
									}
								}
							}
						}
					}
				}

			}

			ol {
				// 「囲み英数字」 U+2460
				// list-style: symbols("⑴" "⑵" "⑶" "⑷" "⑸" "⑹" "⑺" "⑻" "⑼" "⑽" "⑾" "⑿" "⒀" "⒁" "⒂" "⒃" "⒄" "⒅" "⒆" "⒇") outside;
				// counter-reset: ordList;

				& > li {
					list-style-position: outside;
					// counter-increment: ordList;
					text-indent: -0.75em;
					margin-left: 1.5em;

					&:not(:first-of-type) {
						margin-top: 0.5em;
					}

					&:before {
						// content: counter(ordList) ".";
						display: inline-block;
						width: 0.75em;
					}

					@for $i from 1 through 20 {
						&:nth-of-type(#{$i}) {
							&:before {
								content: to-unicode($i - 1 + 9332); // 0x2474=>"⑴"
							}
						}
					}

					ol {
						// list-style: symbols("⒜" "⒝" "⒞" "⒟" "⒠" "⒡" "⒢" "⒣" "⒤" "⒥" "⒦" "⒧" "⒨" "⒩" "⒪" "⒫" "⒬" "⒭" "⒮" "⒯" "⒰" "⒱" "⒲" "⒳" "⒴" "⒵") outside;
						// counter-reset: ordList;

						& > li {
							list-style-position: outside;
							// counter-increment: ordList;
							text-indent: -0.75em;
							margin-left: 1.5em;

							&:not(:first-of-type) {
								margin-top: 0.5em;
							}
							
							&:before {
								// content: counter(ordList) "?";
								display: inline-block;
								width: 0.75em;
							}

							@for $i from 1 through 27 {
								&:nth-of-type(#{$i}) {
									&:before {
										content: to-unicode($i - 1 + 9372); // 0x249c=>"⒜"
									}
								}
							}

							ol {
								& > li {
									list-style-position: outside;
									// counter-increment: ordList;
									text-indent: -0.75em;
									margin-left: 1.5em;

									&:not(:first-of-type) {
										margin-top: 0.5em;
									}
									
									&:before {
										// content: counter(ordList) "?";
										display: inline-block;
										width: 0.75em;
									}

									@for $i from 1 through 10 {
										&:nth-of-type(#{$i}) {
											&:before {
												content: to-unicode($i - 1 + 12832); // 0x3220=>"㈠"
											}
										}
									}
								}
							}
						}
					}
				}

			}

			dl {
				text-indent: 0;

				margin: 0 0 $font-size 0;

				dt {
					letter-spacing: 1px;

					&:not(:first-of-type) {
						margin-top: $font-size;
					}
				}

				dd {
					margin-left: 1.5em;
				}

				dl {
					dt {}

					dd {
						// margin-left: 0;
					}
				}
			}

			table {
				width: 100%;
				border: 1px solid $border_c;
				margin: 0 0 $font-size 0;
				border-collapse: collapse;

				caption {
					margin-bottom: 0.25em;
					letter-spacing: 1px;
					font-size: ($font-size - 2);
				}

				tr {
					border-top: 1px solid $table-cell-border_c;

					&:first-child {
						border-top: none;
					}

					&:nth-child(odd) {
						background-color: $table-cell-odd_bg;
					}

					&:nth-child(even) {
						background-color: $table-cell-even_bg;
					}
				}

				td {
					text-align: center;
					padding: 0.5em;
					font-size: ($font-size - 1);
					
					// border-right: 1px solid $gray;

					&:last-child {
						// border-right: 0;
					}
				}

				th {
					padding: 0.25em 0.5em;
					background-color: $table-cell-head_bg;
					font-weight: normal;
					text-align: center;
					font-size: ($font-size - 1);
					// border-bottom: 1px solid $gray;
					// border-right: 1px solid $gray;

					&:last-child {
						// border-right: 0;
					}
				}

				colgroup {
					border: 1px solid $table-cell-border_c;
				}

				thead, tbody, tfoot {
					border: 1px solid $border_c;
				}
			}

			blockquote {
				margin: 0 0 $font-size 0;
				padding: 1em 2em;
				// border-left: 3px solid ;
				background-color: $quote_bg;
				position: relative;
				font-size: ($font-size - 1);

				&:before {
					content: "\f10d";
					font-family: "FontAwesome";
					position: absolute;
					left: 0.5em;
					top: 0;
					color: $text_c;
					font-size: ($font-size * 1.25);
					opacity: 0.5;
				}
				
				&:after {
					content: "\f10e";
					font-family: "FontAwesome";
					position: absolute;
					right: 0.5em;
					bottom: 0;
					color: $text_c;
					font-size: ($font-size * 1.25);
					opacity: 0.5;
				}

				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			q {
				background-color: $quote_bg;
				font-size: ($font-size - 1);

				&:before {
					content: "\f10d";
					font-family: "FontAwesome";
					position: relative;
					bottom: 1em;
					font-size: ($font-size / 2);
					padding: 0.5em 0.5em 0.5em 1em;
					opacity: 0.5;
				}
				
				&:after {
					content: "\f10e";
					font-family: "FontAwesome";
					position: relative;
					bottom: 1em;
					font-size: ($font-size / 2);
					padding: 0.5em 1em 0.5em 0.5em;
					opacity: 0.5;
				}
			}

			cite {
				font-style: normal;
				text-decoration: underline;
			}

			sup[id|="fnref"] {
				& > a {
					margin-right: $padding-size;
					font-size: ($font-size / 2);

					&:before {
						content: "[";
					}

					&:after {
						content: "]";
					}
				}

				&:target {
					a {
						background-color: $sub;
					}
				}
			}

			div.footnotes {
				font-size: ($font-size - 2);

				a[href|="#fnref"]{
					& > img:only-child {
						display: none !important;
					}
					&:after {
						content: "\f148";
						font-family: "FontAwesome";
						position: relative;
						bottom: 2px;
						right: 4px;
					}
				}
			}

			abbr {
				border: none;
				margin-right: $padding-size;

				&:after {
					content: "\f150";
					font-family: "FontAwesome";
					font-size: ($font-size / 2);
					opacity: 0.5;
				}
			}

			pre {
				font-family: $monospace;
				font-size: ($font-size - 2);
				padding: ($font-size - $padding-size);
				margin: 0 0 $font-size 0;
				border: 5px solid $code_bg;
				background-color: $main2;

				& > code {
					font-family: $monospace;
					font-size: ($font-size - 2);
				}
			}

			*:not(pre) > code {
				font-family: $monospace;
				font-size: ($font-size - 2);
				background-color: $code_bg;
				color: $code_c;
				position: relative;
				bottom: 1px;
				padding: 0 $padding-size 1px $padding-size;
				margin: 0 2.5px;
			}

			hr {
				border: none;
				border-bottom: 2px dashed $border_c;
				margin: 1.5em 0;
			}

			img {
				margin: 0 0 $font-size 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}
		} /* end .entry-content */

		#fancybox-title {
			font-family: $sans-serif;
			font-weight: bold;
		}

		.wp-caption {
			max-width: 100%;
			background: $pict-caption_bg;
			padding: ($padding-size * 2);
			margin: 0 0 $font-size 0;
			border: 5px solid $pict-caption-border_c;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 1em;
				margin: 5px 0;
				text-align: center;
				font-size: ($font-size - 2);
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {
			max-width: 100%;
			background: $pict-caption_bg;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			align-content: space-around;
			border: 5px solid $pict-caption-border_c;

			dl {
				margin-bottom: 0;
				padding: ($padding-size * 2);

				a {
					img {
						margin-bottom: 0;
					}
				}

				dt {}

				dd {
					margin: 0;
					text-align: center;
					font-size: ($font-size - 2);
				}
			}

			& > br {
				display: none;
			}
		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

		a.more-link {
			display: inline-block;
			color: $continue-reading_c;
			background-color: $continue-reading_bg;
			margin: 1em 0;
			padding: 1em 2em;
			font-family: $ui-font;
			text-decoration: none;
			font-size: 90%;
			-webkit-transition: color .1s linear, background-color .1s linear;
			-moz-transition: color .1s linear, background-color .1s linear;
				-ms-transition: color .1s linear, background-color .1s linear;
				-o-transition: color .1s linear, background-color .1s linear;
					transition: color .1s linear, background-color .1s linear;

			&:hover {
				color: $continue-reading_bg;
				background-color: $link-hover_c;
			}

			&:after {
				content: '\f178';
				font-family: 'FontAwesome';
				margin-left: 0.5em;
			}
		}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
#nav-below {
	margin-top: 40px;

	.nav-previous {
		width: 50%;
		float: left;
		text-align: left;
	}

	.nav-next {
		width: 50%;
		float: right;
		text-align: right;
	}

	a {
		background-color: $post-nav_bg;
		padding: 1.5em 2em;
		display: block;
		line-height: 1.5;
		text-decoration: none;
		-webkit-transition: color .1s linear, background-color .1s linear;
		-moz-transition: color .1s linear, background-color .1s linear;
			-ms-transition: color .1s linear, background-color .1s linear;
			-o-transition: color .1s linear, background-color .1s linear;
				transition: color .1s linear, background-color .1s linear;
		
		&:hover {
			color: $continue-reading_bg;
			background-color: $link-hover_c;
		}
	}

	.meta-nav {
		font-family: $ui-font;
		display: block;
		font-size: 90%;
		margin-bottom: 0.5em;
		color: $post-nav_c;
	}
}

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0 5px;
	margin: 40px 0 20px 0;
	font-family: $ui-font;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0 0 40px 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border-style: dotted;
	border-color: $border_c;
	border-width: 0px;

	article {
		padding: ($padding-size * 2) 0 0 ($padding-size * 2);
	}

	.comment-author {
		// padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		b.fn {
			font-style: normal;
			font-weight: normal;

			a.url {
				text-decoration: none;
			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: ($padding-size) * 2;
		}

	} /* end .commentlist .vcard */

	.comment-metadata {
		margin-left: 50px;

		a {
			display: block;
			font-size: 80%;
			text-decoration: none;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		// margin-top: 1.1em;
	}

	&.depth-1 {
		border-bottom-width: 1px;

		&:first-of-type {
			margin-top: ($padding-size * 2);
		}

		&:last-child {
			border-bottom-width: 0px;
		}
	}

	&:not(.depth-1) {
		margin-left: ($padding-size * 2);
		border-top-width: 1px;
		border-left-width: 1px;

		&:last-child {
			border-bottom-width: 1px;
		}
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $comment-odd_bg;

		& > article > .comment-meta {
			& > .comment-metadata > a {
				color: $comment-meta-odd_c;

				&:hover {
					color: $comment-meta-active_c;
				}
			}

			& > .comment-awaiting-moderation {
				background-color: $comment-meta-odd_c
			}
		}
	}
	&.even {
		background: $comment-even_bg;

		& > article > .comment-meta {
			 & > .comment-metadata > a {
				color: $comment-meta-even_c;

				&:hover {
					color: $comment-meta-active_c;
				}
			 }

			 & > .comment-awaiting-moderation {
				 background-color: $comment-meta-even_c;
			 }
		}
	}
	&.parent {
		padding-bottom: ($padding-size * 2);
	}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}

	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	.comment-meta .comment-awaiting-moderation {
		padding: $padding-size;
		margin: $padding-size;
	}

	/* comment content */
	.comment-content {

		margin: 0 $padding-size;

		p {}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .form-btn;
		font-size: 1em;
		float: right;
		margin: 0 ($padding-size * 4) ($padding-size * 2)  $padding-size;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		// margin: 0 7px;
		text-decoration: none;
		// font-size: 0.9em;
	}

	.comment-navigation {
		margin-bottom: 20px;

		.comment-nav-prev {
			width: 50%;
			float: left;
			text-align: left;
		}

		.comment-nav-next {
			width: 50%;
			float: right;
			text-align: right;
		}

		a {
			background-color: $post-nav_bg;
			padding: 1.5em 2em;
			display: block;
			line-height: 1.5;
			text-decoration: none;
			-webkit-transition: color .1s linear, background-color .1s linear;
			-moz-transition: color .1s linear, background-color .1s linear;
				-ms-transition: color .1s linear, background-color .1s linear;
				-o-transition: color .1s linear, background-color .1s linear;
					transition: color .1s linear, background-color .1s linear;
			
			&:hover {
				color: $continue-reading_bg;
				background-color: $link-hover_c;
			}
		}

		.meta-nav {
			font-family: $ui-font;
			display: block;
			font-size: 90%;
			margin-bottom: 0.5em;
			color: $post-nav_c;
		}
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 0 5px;
	margin-top: 20px;
	clear: both;

	.comment-body + & {
		border-top: 1px dashed $border_c;
		padding: ($padding-size * 3);
	}
}

	#reply-title {
		margin: 0;
		font-size: 1.5em;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text_c;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .form-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin: 40px 0 20px 0;
}

	.widget {
		background-color: $sidebar-bg;
		padding: 20px;
		margin-bottom: 20px;

		.widgettitle {
			font-size: 1.5em;
			margin: 0 0 16px 0;
			padding-bottom: $padding-size;
			font-family: $ui-font;
			border-bottom: 3px solid $border_c;
		}

		a {
			text-decoration: none;
		}

		& > *:last-child {
			margin: 0 $padding-size;
		}

		ul {
			li {
				margin: 0.5em 0;

				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border_c;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

	.widget_recent_entries {
		ul {
			li {
				margin-left: 27px;

				&:before {
					content: '\f0f6';
					font-family: 'FontAwesome';
					margin-left: -27px;
					margin-right: 8px;
					font-size: 80%;
					color: $sidebar-ui_c;
				}

				.post-date {
					color: $sidebar-ui_c;
					display: block;
					font-size: 80%;
				}
			}
		}
	}

	.widget_archive {
		a.year-opener {
			font-family: $ui-font;
			cursor: pointer;
			color: $text_c;

			&:after {
				content: '\f066';
				font-family: 'FontAwesome';
				color: $sidebar-ui_c;
				padding: 0.5em;
			}

			&.closed:after {
				content: '\f065';
			}
		}
		
		ul.years {
			li {
				margin-bottom: 0;
				margin-left: 27px;

				&:before {
					content: '\f073';
					font-family: 'FontAwesome';
					margin-left: -27px;
					margin-right: 8px;
					font-size: 80%;
					color: $sidebar-ui_c;
				}
			}
			
			ul.month {
				-webkit-transition: opacity .1s linear;
				-moz-transition: opacity .1s linear;
					-ms-transition: opacity .1s linear;
					-o-transition: opacity .1s linear;
						transition: opacity .1s linear;
				
				margin: 0.25em 0 1em 1em;

				li {
					font-family: $ui-font;
					margin-left: 10px;

					a {
						font-family: $sans-serif;
					}

					&:before {
						content: '\f133';
						font-family: 'FontAwesome';
						margin-left: -27px;
						margin-right: 8px;
						font-size: 80%;
						color: $sidebar-ui_c;
					}
				}

				&.hide {
					margin: 0;
					height: 0;
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}

	.widget_categories {
		ul {
			li {
				font-family: $ui-font;
				margin-left: 27px;

				a {
					font-family: $sans-serif;
				}

				&:before {
					content: '\f114';
					font-family: 'FontAwesome';
					margin-left: -27px;
					margin-right: 8px;
					font-size: 80%;
					color: $sidebar-ui_c;
				}
			}

			.children {
				margin-top: $padding-size;
			}
		}
	}

	.widget_tag_cloud {
		li {
			margin-left: 27px;

			&:before {
				content: '\f097';
				font-family: 'FontAwesome';
				margin-left: -27px;
				margin-right: 8px;
				font-size: 80%;
				color: $sidebar-ui_c;
			}
		}
	}

	.widget_recent_comments {
		li {
			&:before {
				content: '\f0f6';
				font-family: 'FontAwesome';
				margin-right: 5px;
				font-size: 80%;
				color: $sidebar-ui_c;
			}

			.comment-author-link {
				margin-left: 10px;
				&:before {
					content: '\f007';
					font-family: 'FontAwesome';
					margin-right: 5px;
					font-size: 80%;
					color: $sidebar-ui_c;
				}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	color: $footer_c;
	background-color: $footer_bg;
}

	.footer-nav {
		font-family: $ui-font;
	}

	.footer-links ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.footer-links ul li {
		position: relative;
		}
	.footer-links ul li a {
		display: block;
		padding: 0 20px;
		color: $footer_c;
		font-size: $font-size;
		text-decoration: none;
		line-height: 50px;
		-webkit-transition: color .1s linear, background-color .1s linear;
		-moz-transition: color .1s linear, background-color .1s linear;
			-ms-transition: color .1s linear, background-color .1s linear;
			-o-transition: color .1s linear, background-color .1s linear;
				transition: color .1s linear, background-color .1s linear;
		
		&:hover {
			text-decoration: none;
		}
	}
	.footer-links ul ul li a {
		padding: 8px 20px;
		font-size: 90%;
		line-height: 20px;
	}
	.footer-links ul li a:after {
		font-family: 'FontAwesome';
	}
	.footer-links ul li a:after {
		content: "\f0d7";
		float: none;
		margin-left: 6px;
		opacity: 0.5;
	}
	.footer-links ul ul li a:after {
		content: "\f0da";
		float: right;
		margin-left: 0;
	}
	.footer-links ul li a:only-child:after {
		content: "";
		margin: 0;
	}

	.menu-toggle,
	.footer-links ul li a {
		color: $footer_c;
	}
	.footer-links ul li > a:hover, 
	.footer-links ul li:hover > a, 
	.footer-links ul li.current_page_item > a, 
	.footer-links ul li.current-menu-item > a,
	.footer-links ul li.current-menu-ancestor > a,
	.footer-links ul li.current_page_ancestor > a,
	.footer-links ul li.current-post-parent > a {
		color: $footer-active_c;
	}

	.copyright {
		font-family: $ui-font;
		text-align: center;
		
		a {
			color: $footer_c;
			text-decoration: none;

			&:hover {
				color: $footer-active_c;
			}
		}
	}

/***
FORMS
***/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
	height: 45px;
	border-color: $border_c;
	border-width: 2px;
	border-radius: 0;
	max-width: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
select {
	height: 45px;
	padding: 10px;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
	border-color: $border-active_c;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	height: 45px;
	padding: 7px 17px 5px;
	color: $top-active_c;
	font-size: 13px;
	font-weight: 700;
	font-family: $sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	border-radius: 0;
	background: $top-button_bg;
}
input[type="reset"] {
	color: #333;
	background: #eee;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	color: $top-active_c;
}
input[type="reset"]:hover,
input[type="reset"]:focus {
	color: #333;
	background: #e5e5e5;
}

/***
NINJA omatome button
***/
.ninja_onebutton_output_responsive {
	div, a {
		opacity: 0.25;
		-webkit-transition: opacity .1s linear;
		-moz-transition: opacity .1s linear;
			-ms-transition: opacity .1s linear;
			-o-transition: opacity .1s linear;
				transition: opacity .1s linear;

		&:hover {
			opacity: 1.0;
		}
	}
}